@use '../../styles/variables' as *;

@font-face {
    font-family: 'Star Jedi';
    src: url('../../assets/fonts/Starjedi.ttf') format('truetype');
}

.Header {
    background: url('../../assets/images/hero2.png');
    background-size: cover;
    background-position: center;
    height: 570px;

    h1 {
        color: $Black;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: $Banana;
        font-family: 'Star Jedi', sans-serif;
        font-size: 3rem;
        letter-spacing: 1rem;
        text-align: center;
        margin: 0;
        padding: 1rem 0;
    }
}

@media screen and (max-width: 600px) {
    .Header {
        height: 380px;

        h1 {
            font-size: 2rem;
            // letter-spacing: 0.5rem;
        }

    }
}