@use '../../styles/variables' as *;

@font-face {
    font-family: 'Star Jedi';
    src: url('../../assets/fonts/Starjedi.ttf') format('truetype');
}

.Nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0 9rem;
        font-family: 'Star Jedi', sans-serif;

        a {
            text-decoration: none;
            color: $Black;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $Banana;
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 992px) {
    .Nav {
        flex-direction: column;
        align-items: center;

        li {
            margin: 1rem;

            a {
                font-size: 2rem;
            }
        }
    }
}